<input type="text" placeholder="Filter by name or status" [(ngModel)]="searchText" (ngModelChange)="onSearchTermChange($event)" />

<div class="target-List">
    <ng-container *ngIf="targetAssets$ | async as targetAssets; else loading" >

        <div *ngIf="targetAssets.length === 0">No results found.</div>

        <div *ngFor="let targetAsset of targetAssets">
            <nz-card [nzTitle]="targetAsset.name"
                     class="asset-status {{ targetAssetStatus[targetAsset.status] }}">
                <div class="card-grid">
                    <div *ngFor="let assetDetail of listAssetDetails">
                        <div>
                            <span nz-icon [nzType]="assetDetail.iconText" nzTheme="outline"></span>
                            <label class="margin-left">{{assetDetail.title}}</label>
                        </div>

                        <span *ngIf="assetDetail.key !== 'ram'"> {{targetAsset[assetDetail.key ]}}</span>
                        <span *ngIf="assetDetail.key === 'ram'"> {{ targetAsset[assetDetail.key ] / (1024*1024*1024) | number:'1.2-2' }} GB</span>

                    </div>
                </div>
            </nz-card>
        </div>
    </ng-container>
    <ng-template #loading>Loading target assets...</ng-template>
</div>
