.target-List {
  background: white;
  padding:30px;
  display: Grid;
  column-gap: 30px;
  row-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}

.card-grid{
  display: Grid;
  column-gap: 3px;
  row-gap: 15px;
  grid-template-columns: 1fr 1fr;
}

.margin-left {
  margin-left: 15px;
}

.asset-status {
  border: 1px solid transparent; // set the default border to transparent
  padding: 10px;
}

.asset-status.Running {
  border-color: green; // set the border color for running assets
}

.asset-status.Stopped {
  border-color: red; // set the border color for stopped assets
}

.asset-status.MigrationFailed {
  border-color: orange; // set the border color for assets with migration failure
}

.asset-status.Unknown {
  border-color: gray; // set the border color for unknown assets
}


.filter-stats{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  .search{
    height: fit-content;
  }
}

.loading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.card-grid-content{
  display: flex;
  .data{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    label{
      font-weight: bold;
    }
  }
}