<div *ngIf="(isLoading$ | async ) === false && ( targetAssets$ | async ) as targetAssets" >
    <div class="filter-stats">
        <div class="search">
            <label>Search : </label>
            <input nz-input type="text" placeholder="Filter by name or status" [(ngModel)]="searchText" (ngModelChange)="onSearchTermChange($event)" />
        </div>
        <app-target-asset-statistics [targetAssets]="targetAssets"></app-target-asset-statistics>
    </div>
    <div class="target-List">
        <div *ngIf="targetAssets.length === 0" id="no-results">No results found.</div>

        <div *ngFor="let targetAsset of targetAssets">
            <nz-card [nzTitle]="targetAsset.name"
                     class="asset-status {{ targetAssetStatus[targetAsset.status] }}">
                <div class="card-grid">
                    <div *ngFor="let assetDetail of listAssetDetails" class="card-grid-content">
                        <div>
                            <span nz-icon [nzType]="assetDetail.iconText" nzTheme="outline"></span>
                        </div>
                        <div class="data">
                            <label>{{assetDetail.title}}</label>
                            <span *ngIf="assetDetail.key !== 'ram'"> {{targetAsset[assetDetail.key ]}}</span>
                            <span *ngIf="assetDetail.key === 'ram'"> {{ targetAsset[assetDetail.key ] / (1024*1024*1024) | number:'1.2-2' }} GB</span>
                        </div>
                    </div>
                    <button nz-button nzType="link" (click)="moreDetails(targetAsset)">
                        More Details
                        <span nz-icon nzType="right"></span>
                    </button>
                </div>
            </nz-card>
        </div>
    </div>
</div>

<div *ngIf="isLoading$ | async" class="loading">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    <span>Loading target assets...</span>
</div>