.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 30px 16px 0;
  float: left;
}

.header-menu {
  line-height: 64px;
}

.sider-menu {
  height: 100%;
  border-right: 0;
}

.inner-layout {
  padding: 24px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  background: #f0f2f5;
  padding: 0px;
  min-height: 280px;
}

nz-footer {
  text-align: center;
}

nz-content {
  background-color: white;
}